body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}

#header {
    overflow: auto;
}
#header h1 {
    width: 100%;
    display: inline-block;
}

.title {
    font-size: larger;
}

.logo {
    display: grid;
    float: left;
    margin-right: 10px;
}

#breadcrumb-container,
#breadcrumb,
#logo-container {
    display: inline-block;
}

#breadcrumb {
    --bs-breadcrumb-divider: '>';
}
.breadcrumb-trail {
    font-size: small;
}
.breadcrumb-prefix {
    margin-right: 0.5rem;
}

#logo-container {
    float: right;
}

.error-main{
    background-color: #fff;
    box-shadow: 0px 10px 10px -10px #5D6572;
}
.error-main h1 {
    font-weight: bold;
    color: #444444;
    font-size: 100px;
    text-shadow: 2px 4px 5px #6E6E6E;
}
.error-main h6 {
    color: #42494F;
}
.error-main p {
    color: #9897A0;
    font-size: 14px;
}

.enrol {
    display: grid;
}
.enrol-row,
.tutorial-row {
    background-color: white;
}
.enrol-row .border,
.tutorial-row .border {
    border-radius: .25rem;
}
.enrol-row .completed .status {
    color: forestgreen;
}
.enrol-row .status .badge {
    font-size: initial;
}
.enrol-row a,
.tutorial-row a,
.course a {
    text-decoration: none;
    color: initial;
}
.enrol-row a .border:hover,
.tutorial-row a .border:hover,
.course a .card:hover {
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
.enrol-row .expired {
    color: #bbbbbb;
    cursor: not-allowed;
}
.enrol-row .expired img {
    opacity: 0.2;
}
.enrol-row .incomplete .status {
    color: tomato;
}
.enrol-row .completed .enrol-start,
.enrol-row .completed .expires {
    color: #bbbbbb;
}
.enrol-row .completed.expired .status {
    color: darkseagreen;
}
.enrol-row .incomplete.expired .enrol div,
.enrol-row .completed.expired .expires {
    color: lightpink;
}

.card {
    min-height: 195px;
}
.card-image,
.card-img-top {
    width: 172px;
}
.card-img-top {
    height: 74px;
}

.pagination .page-item .page-link,
.pagination .page-item.disabled .page-link {
    background-color: #f5f5f5;
}
.pagination .page-item.active.disabled .page-link {
    opacity: 0.65;
}
.pagination .page-item.disabled .page-link span {
    color: #0d6efd;
    opacity: 0.4;
}
.pagination .page-item .page-link,
.pagination .page-item .page-link:hover {
    border: 1px solid  #0d6efd;
}
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover {
    color: #fff;
    background-color: #0d6efd;
}

.sidebar {
    grid-area: sidebar;
}
.collapse:not(.show) {
    display: none;
}

.links {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 7rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow: auto;
    font-weight: 600;
}
.links .form-check {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 0.75rem;
    color: rgba(0,0,0,0.65);
}
.links .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0,0,0,0.65);
    background-color: transparent;
    border: 0;
}
.links .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
}
.links .btn[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
.links .btn[aria-expanded="true"] {
    color: rgba(0,0,0,0.85);
}
.links .btn:hover,
.links .btn:focus,
.links .form-check:hover,
.links .form-check:focus {
    background-color: rgba(121,82,179,0.1);
}
.links .form-check .form-check-input {
    margin-left: initial;
    margin-right: 0.5em;
}