<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/sr-only.css">
    {{ .Css }}
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css?v={{ .Version }}">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div id="page" class="container my-4">
        <div id="header">
            <div id="breadcrumb-container">{{ .Breadcrumb }}</div>
            <div id="logo-container" class="mb-3">{{ .Logo }}</div>
            {{ .Menu }}
            <h1 class="mb-3">{{ .Header }}</h1>
        </div>
        <div id="content">
            {{ .Content }}
        </div>
    </div>
</body>
</html>
